<%= form_for @user, :url => { :action => "create" } do |f| %>
  <div class="input-field">
    <div class="label">Email Address</div>
    <%= f.text_field :email, :placeholder => "john.smith@mail.com", :class => "email brandon" %>
  </div>
  <input class="submit brandon" name="commit" type="submit" value="Refer a Friend" />
<% end %>