<p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
<p class="compiling brandon"></p>
<p class="go-to brandon">In the meantime, head to <a href="https://www.knowledgr.io/">knowledgr.io</a></p>
<p class="again brandon">Thank You Again!</p>