<div class="hero">
  <p class="large brandon">Tell your friends about us!</p>
  <p class="small brandon">Some description text goes here. It is the best description you can imagine.</p>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>