<div class="hero">
  <h3>crowdsourced scientific METHOD</h3>
  <h1 class="header">Knowledgr</h1>
  <p class="large brandon"><span class="observation">Observe</span>. <span class="question">Question</span>. <span class="hypothesis">Hypothesize</span>.</p>
  <p class="medium brandon">
    An open-source scientific revolution is coming.
  </p>

  <p class="small brandon">
    Invitation Only Beta-Launch
  </p>
  <div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
    <% if Rails.application.config.ended %>
      <%= render "users/campaign_ended" %>
    <% else %>
      <%= render "users/campaign_ongoing" %>
    <% end %>
  </div>
</div>
