<div class="hero">
  <h3>crowdsourced scientific METHOD</h3>
  <h1 class="header">Knowledgr</h1>
  <p class="large brandon">Observe. Question. Hypothesize.</p>
  <p class="medium brandon">
    A new way of doing science is coming soon.
  </p>

  <p class="small brandon">
    Invitation Only Beta-Launch
  </p>
  <div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
    <% if Rails.application.config.ended %>
      <%= render "users/campaign_ended" %>
    <% else %>
      <%= render "users/campaign_ongoing" %>
    <% end %>
  </div>
</div>
