@font-face {
  font-family: 'Sofia Pro';
  src: url("https://use.typekit.net/af/0c5f71/00000000000000003b9b1aa0/27/l?subset_id=2&fvd=n9&v=3") format("woff2"),
    url("https://use.typekit.net/af/0c5f71/00000000000000003b9b1aa0/27/d?subset_id=2&fvd=n9&v=3") format("woff"),
    url("https://use.typekit.net/af/0c5f71/00000000000000003b9b1aa0/27/a?subset_id=2&fvd=n9&v=3") format("opentype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url("https://use.typekit.net/af/30420e/00000000000000003b9b1a9e/27/l?subset_id=2&fvd=n7&v=3") format("woff2"),
    url("https://use.typekit.net/af/30420e/00000000000000003b9b1a9e/27/d?subset_id=2&fvd=n7&v=3") format("woff"),
    url("https://use.typekit.net/af/30420e/00000000000000003b9b1a9e/27/a?subset_id=2&fvd=n7&v=3") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face { font-family: 'Freight Sans Pro'; src: url("https://use.typekit.net/af/8dd886/000000000000000000010b5c/27/l?subset_id=2&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/8dd886/000000000000000000010b5c/27/d?subset_id=2&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/8dd886/000000000000000000010b5c/27/a?subset_id=2&fvd=n5&v=3") format("opentype"); font-style: normal; font-weight: 500; }
@font-face { font-family: 'Freight Sans Pro'; src: url("https://use.typekit.net/af/ba2099/000000000000000000010b58/27/l?subset_id=2&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/ba2099/000000000000000000010b58/27/d?subset_id=2&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/ba2099/000000000000000000010b58/27/a?subset_id=2&fvd=n3&v=3") format("opentype"); font-style: normal; font-weight: 300; }

@font-face { font-family: 'Alternate Gothic'; src: url("https://use.typekit.net/af/2d5126/000000000000000000010d5c/27/l?subset_id=2&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/2d5126/000000000000000000010d5c/27/d?subset_id=2&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/2d5126/000000000000000000010d5c/27/a?subset_id=2&fvd=n4&v=3") format("opentype"); font-style: normal; font-weight: 400; }